Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Graffiti Ape <support@codeengine.dev>
Homepage: https://github.com/graffitiape/codeengine
Installed-Size: @@INSTALLEDSIZE@@
Provides: codeengine-@@NAME@@
Conflicts: codeengine-@@NAME@@
Replaces: codeengine-@@NAME@@
Description: Code editing. Redefined.
 Code Engine is a new choice of tool that combines the simplicity of
 a code editor with what developers need for the core edit-build-debug cycle.
 See https://github.com/graffitiape/codeengine for installation
 instructions and FAQ.
